*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;  
    
}
input{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    padding: 9px;
    border-radius: 10px;
}

.userNumbers{
    box-shadow:  0 0 4px  black;
    background-color: #7fc1ff;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.userStates{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.userAvatar{
    display: grid;
    place-items: center;
}
.config{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #680f68;
 
}
.btnWrn{
    background-color: transparent;
    border: none;
}
.btnWrn{
    background-color: red;
}
.btnWrn:hover{
    background-color: lightcoral;

}
.red{
    background-color: red;
}
.red:hover{
    background-color:  lightcoral;
}
.config:hover{
    background-color: #ad35ad;
}
.userAvatarBG{
   display: grid;
   place-items: center;
    grid-column: 1;
    grid-row: 1/span    2     ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #7fc1ff;

}
.userName{
    box-shadow:  0 0 4px  black;
    background-color: #7fc1ff;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.userImages{
    padding-bottom: 3rem;
    padding-top: 3rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    column-gap: 1rem ;
    background-color: #7fc1ff;
}
.content{
    width: 120px;
    height: 120px;
    background-color: #853c85;
    overflow: hidden;
}

.user{
    background-color: #853c85;
    padding: 1rem;

}
p{
    color: #853c85;
    font-size: 2rem;
    font-weight: 900;
    
}
.PFollow{

    padding-left: 8px;
    padding-right: 8px;
    border-left: 2px solid #853c85;
    border-right: 2px solid  #853c85;
}
span{
    font-size: 2rem;
    font-weight: 2rem;
}
.userNumbers--Content{
    color: white;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: space-around;
}